/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.nav_menu ul{
  list-style-type: none;
}

.nav_menu ul li{
  display: inline;
  margin-right: 10px;

}

.nav_menu a{
  text-decoration: none;
  color: #000000;
  font-size: 80%;
}
/* Remove the jumbotron's default bottom margin */
footer {
  background-color: #f2f2f2;
}

.container-fluid{
  border-radius: 0;
}
.completebtn1 {
  width: 200px;
  height: 50px;
  font-size: 17px;
  border: none;
  color: white;
  margin-left: 10px;
  font-style: bold;
  background-color: #3AC569;
  cursor: pointer;
}

.main_nav {margin-bottom: 10px}
.main_nav .navbar-nav>.active>a:hover,.main_nav .navbar-nav>li>a:hover, .main_nav .navbar-nav>li>a:focus { background-color: #ffffff}
.main_nav .navbar-nav>.active>a,.main_nav .navbar-nav>.open>a,.main_nav .navbar-nav>.open>a, .main_nav .navbar-nav>.open>a:hover,.main_nav .navbar-nav>.open>a, .main_nav .navbar-nav>.open>a:hover, .main_nav .navbar-nav>.open>a:focus { background-color: #ffffff}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #FFFFFF}
.main_nav { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #FFFFFF}
.main_nav .navbar-brand { color: #000000}
.main_nav .navbar-brand:hover { color: #3AC569}
.main_nav .navbar-brand:focus { color: #3AC569}

.main_nav .navbar-nav>li>a { color: #363636}
.main_nav .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #3AC569}
.main_nav .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #363636}
.main_nav .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #3AC569}
.dropdown-menu>li>a { color: #363636}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #3ac569}
.main_nav .navbar-nav>.dropdown>a .caret { border-top-color: #363636}
.main_nav .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.main_nav .navbar-nav>.dropdown>a .caret { border-bottom-color: #363636}
.main_nav .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
