.col-sm-2{
  color: gray;
  font-size: 15px;
  height: 40px;
  text-align:center;
  padding: 10px;
}

.col-sm-6{
  color: black;
  font-size: 20px;
  height: 40px;
  text-align:center;
  padding: 10px;
}

.row{
  border: 2px solid #f0f0f0;
}
