.buytable{
  width: 100%;
  border-top: 2px solid #cecece;
  margin: 0;
}

.buytable tr{
display: table-row;
vertical-align: inherit;
border-color: inherit;
}

.information {
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 16px;
}


.title {
width: 120px;
border-bottom: 1px solid #e4e4e4;
padding: 10px 16px;
font-weight: 700;
text-align: right;
background: #f4f4f4;
}

.notice-title{
  float: left;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border-bottom: 2px solid #555;
  padding-bottom: 8px;
  margin-bottom: 30px;
    font-weight: bold;
}

.customer-title{
  float: left;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
}

.buylist-title{
  float: left;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  border-bottom: 2px solid #e4e4e4;
}

.notice-p{
  font-size: 20px;
}

.col-sm-2{
  color: gray;
  font-size: 13px;
  height: 40px;
  text-align:center;
  padding: 10px;
}

.col-sm-6{
  color: black;
  font-size: 20px;
  height: 40px;
  text-align:center;
  padding: 10px;
}

.row{
  border: 1px solid #f0f0f0;
  margin: 0;
}

/* Sub Navigation CSS part*/
.side-nav-title{
  background-color: #3AC569;
  padding: 10px;
  color: #ffffff;
  text-align: center;
}


.side-nav-div{
    background-color: #f2f2f2;
    height: 100%;
    padding: 10px;
}

.sidenav{

  width: 180px;

}

.side-nav-b{
  padding: 20px;
}

.nav-submenu{
  margin-top: 10px;
}
.sub-a-tag{
  font-size: 13px;

}
a:link { color: #5D5D5D; text-decoration: none;}
a:visited { color: #5D5D5D; text-decoration: none;}
a:hover { color: #3AC569; text-decoration: none;}

.nav-submenu-now{
  margin-top: 10px;
}

.nav-submenu-now a:link { color: #3AC569; text-decoration: none;}
.nav-submenu-now a:visited { color: #3AC569; text-decoration: none;}
.nav-submenu-now a:hover { color: #5D5D5D; text-decoration: none;}


.notice-contents{
  margin-left: 30px;
  float: left;
  width: 800px;

}


.notice-title{
  float: left;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border-bottom: 2px solid #555;
  padding-bottom: 8px;
  margin-bottom: 30px;
}

.notice-sub{
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.notice-title-sub{
  margin-top: 10px;
  float: left;
  width: 100%;
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid #555;
  padding-bottom: 8px;

}

.notice-title-sub span{
  font-size: 17px;
  font-weight: bold;
}

.notice-title-sub a{
  float: right;
  font-size: 13px;
}

/*Detail-Contents*/
.notice-contents tr{
  height: 35px;
  width: 100%;

}
.notice-contents table{
   width: 100%;
}

.td-contents{
  font-size: 15px;
  padding: 10px;
  width: 90%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}



/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.nav_menu ul{
  list-style-type: none;
}

.nav_menu ul li{
  display: inline;
  margin-right: 10px;
}

.nav_menu a{
  text-decoration: none;
  color: #000000;
  font-size: 80%;
}
/* Remove the jumbotron's default bottom margin */
footer {
  background-color: #f2f2f2;
}

.container-fluid{
  border-radius: 0;
}

.contentstitle {
  font-size: 20px;
}


#line {
  border-top: 1px solid gray;
}
.main_nav {margin-bottom: 10px}
.main_nav .navbar-nav>.active>a:hover,.main_nav .navbar-nav>li>a:hover, .main_nav .navbar-nav>li>a:focus { background-color: #ffffff}
.main_nav .navbar-nav>.active>a,.main_nav .navbar-nav>.open>a,.main_nav .navbar-nav>.open>a, .main_nav .navbar-nav>.open>a:hover,.main_nav .navbar-nav>.open>a, .main_nav .navbar-nav>.open>a:hover, .main_nav .navbar-nav>.open>a:focus { background-color: #ffffff}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #FFFFFF}
.main_nav { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #FFFFFF}
.main_nav .navbar-brand { color: #000000}
.main_nav .navbar-brand:hover { color: #3AC569}
.main_nav .navbar-brand:focus { color: #3AC569}

.main_nav .navbar-nav>li>a { color: #363636}
.main_nav .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #3AC569}
.main_nav .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #363636}
.main_nav .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #3AC569}
.dropdown-menu>li>a { color: #363636}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #3ac569}
.main_nav .navbar-nav>.dropdown>a .caret { border-top-color: #363636}
.main_nav .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.main_nav .navbar-nav>.dropdown>a .caret { border-bottom-color: #363636}
.main_nav .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}

.completebtn1 {
  width: 200px;
  height: 50px;
  font-size: 17px;
  border: none;
  color: white;
  margin-left: 10px;
  font-style: bold;
  background-color: #3AC569;
  cursor: pointer;
}
